body {
    background-color: #2196F7;
    color: white;
}

.btn-main {
    font-weight: bold;
    background-color: #0560AB;
    color: white;
}

.btn-main:hover {
    background-color: #0684ec;
    color: white;
}

.counter {
    text-align: center;
    margin: 0 1rem;
}

.counter-number {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #F74039;
    margin-bottom: 0.5rem;
}

.counter-label {
    font-weight: bold;
}
